/* Colors sourced from https://www.w3schools.com/cssref/css_colors.php */
:root {
    --primary: white;
    --secondary: #2E8B57;
    --back: #b9c6ae;
    }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--back);
  color: var(--primary);    

  }

  h2 {
    color: var(--primary);
    font-size: 2rem;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: 2.5rem;
    justify-content: center;
  }
    
  header {
    align-items: center;
    text-align: left;
    background: var(--secondary);
    font-size: 4rem;
    }

  p {
    color: var(--primary);
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
    
  }

img {
    display: inline;
    height: 200px;
    width: 200px;
    border-radius: 18%;
    padding-left: 10px;
    }

nav {
   font-size: 2rem;
    text-align: right;
    color: var(--primary);
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
   }

nav a {
        color: var(--primary);
        font-weight: bold;
        text-decoration: none;
}
a { 
  color: inherit;
}

a:visited{  
    color: var(--light)
     }  
     a:hover{  
    color: blue;  
     }  

  nav li::before {
  content: '\2192';
  color: var(--primary);
  padding: 1%;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  aside {
    flex: 1;
    background-color: var(--back);
    padding: 20px;
  }
  
  section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 2%;
    text-align: center;
    background: var(--secondary);
    color: var(--primary);
    font-size: 2rem;
    }

.about-me {
  color:  var(--primary);
  display: flex;
  justify-content: center;
}

.project, 
.contact-me {
  color: var(--primary);

}

.contact-me {
    color: var(--primary);
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  border-style: double;
  border-width: 7px;
  border-color: var(--secondary);
  background-color: var(--primary);
  padding: 12px;
}

.projects.main {
  flex: 2 1 200px;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 0;
    }
    
    
  }