/* Colors sourced from https://www.w3schools.com/cssref/css_colors.php */
:root {
    --primary: #faebd7;
    --secondary: #2E8B57;
    --back: #b9c6ae;
    --light: white;
}

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  
  h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--back);
  color: var(--primary);    

  }

  h2 {
    color: var(--primary);
    font-size: 3rem;
  }

  h3 {
    color: var(--secondary);
    font-size: 3rem;
  }
    
  header {
    align-items: center;
    text-align: left;
    background: var(--secondary);
    font-size: 4rem;
    }

  p {
    color: var(--primary);
    font-size: 2rem;
    justify-content: space-between;
    
  }

img {
    display: inline;
    height: 100px;
    width: 100px;
    border-radius: 18%;
    
}
  
  nav {
   font-size: 35px;
    text-align: right;
    color: var(--secondary);
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
   }

nav a {
        color: var(--primary);
        font-weight: bold;
        text-decoration: none;
}
a { 
  color: inherit;
}

a:visited{  
    color: var(--light)
     }  
     a:hover{  
    color: blue;  
     }  

  nav li::before {
  content: '\2192';
  color: var(--primary);
  padding: 1%;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    font-size: ;
  }
  
  aside {
    flex: 1;
    background-color: var(--back);
    padding: 20px;
  }
  
  section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 2%;
    text-align: center;
    background: var(--secondary);
    color: var(--primary);
    font-size: 2rem;
    }

.about-me {
  color:  var(--primary);
  display: flex;
  justify-content: center;
}

.project {
  color: var(--primary);

}

.contact-me {
    color: var(--primary);
}

.projects {
  display: flex;
  flex-direction: row;
  /* Centers along the main axis determined by flex-direction */
  justify-content: left;
  /* Centers along the opposite axis */
  /* align-items: center; */
  width: 80%;
  /* Uses the height of the viewport */
  height: 20vh;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}

.column {
  display: flex;
  flex-direction: column
}
















@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }